.checkout__products__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -20px;
}

.checkout {
  padding: 20px 50px;
  margin-top: 10px;
  background-color: white;
  height: max-content;
  width: 75%;
  margin-left: 10px;
}

ul {
  display: flex;
  flex-direction: row;
}
ul li {
  padding-right: 100px;
}
.product {
  display: flex;
}
.quantity {
  display: flex;

  margin-top: -5px;
}
.price {
  display: flex;
  margin-top: -10px;
}
.product h3 {
  margin-bottom: 25px;
}
.checkout_all__details {
  display: flex;
  flex-direction: row;
}
.checkout__left {
  display: flex;
  flex: 0.44;
  flex-direction: column;
  width: 40%;
}
.checkout__right {
  display: flex;
  flex: 0.4;
  flex-direction: column;
}
.checkout__left form {
  display: flex;
  flex-direction: column;
}

.checkout__left > form > input {
  height: 30px;
  width: 360px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
}
.checkout__left > form > input:focus {
  outline: none !important;
}
.checkout__left .button__submit {
  width: 380px !important;
  height: 40px;
  background-color: #ff4565;
  color: white;
}

.checkout__left .button__disabled {
  max-width: 380px !important;
  padding: 10px 10px;
  background-color: gray !important;
}
.error {
  color: #ff4565 !important;
}
