.checkoutProduct__image {
  display: flex;
  height: 80px;
  width: 80px;
}
.checkout__all {
  background-color: whitesmoke;
  height: 120px;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 4px;
  border-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.checkout__products {
  display: flex !important;
  flex-direction: column;
}
.checkout__details {
  width: 500px;
  display: flex;
  flex-direction: row;
}
.checkoutProduct___right {
  display: flex;
}
.checkoutProduct__left {
  display: flex;
  text-align: left;
}
.checkoutProductInfo {
  margin-left: 10px;
  width: 200px;
  margin-top: 3%;
}
.number__button {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  height: 40px;
}
.checkoutProduct__info {
  display: flex;
  justify-content: center;
}

.number__button {
  width: 120px !important;
  justify-content: center !important;
}
.remove__button {
  display: flex;
  height: 40px;
  width: 200px;
  margin: 0 auto;
}
.total__price {
  color: red;
}
.checkoutProduct__total {
  margin-top: 10px;
}
.remove__button button:focus {
  outline: none;
}
