.login__form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 35%;
  z-index: 999;
  height: 400px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
